*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

nav ul {
  font-size: 0;
  width: 100%;
  list-style: none;
  background-color: yellow;
}

nav li {
  display: inline-block;
  width: 25%;
  font-size: 1rem;
  text-align: center;
  color: blue;
}

nav a {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  line-height: 2.5;
  padding: 0 10px;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: yellow;
  background-color: green;
}