html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: black;
  font-family: "Helvetica", Arial;
  font-size: 28px;
}

h2 {
  font-family: "Helvetica Black", Arial;
  font-size: 2.2rem;
}

p, .small-text {
  font-size: 22px;
}

ul {
  font-size: 30px;
  list-style: none;
  margin-bottom: 20px;
}

table {
  width: 680px;
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  text-align: left;
  padding: 10px 3px;
}

th {
  text-align: left;
  font-weight: normal;
  font-size: 2rem;
}

td, th {
  border-bottom: 3px solid white;
}

tr.small-text > td {
  border: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.amount {
  padding-top: 10px;
  font-size: 24px;
  text-align: left;
}

.big-header {
  font-family: "Franklin Gothic Heavy", Arial;
  font-size: 5.5rem;
}

.bold {
  font-weight: bold;
}

.indent {
  text-indent: 1.2rem;
}

.indented {
	width: 70%;
}

.medium-line-below {
  border-bottom: 12px solid white;
}

.medium-text {
  font-size: 1.6rem;
}

.no-border {
  border: none;
}

.thick-line-above {
  border-top: 25px solid white;
  padding: 1.4rem 0;
}

.thin-line-below {
  border-bottom: 2px solid white;
}

.medium-line-below, 
.thick-line-above, 
.thin-line-below {
  width: 85%;
}