html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: black;
  font-family: "Helvetica", Arial;
  font-size: 28px;
  margin: 30px 0 0 30px;
}

h1 {
  font-family: "Franklin Gothic Heavy", Arial;
  font-size: 5rem;
}

h2 {
  font-family: "Helvetica Black", Arial;
  font-size: 2.2rem;
}

hr.heavy-hr {
  size: 5px;
}

p {
  font-size: 19px;
}

ul {
  font-size: 30px;
  list-style: none;
  margin-bottom: 20px;
}

table {
  width: 80%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  border-bottom: 3px solid white;
  padding: 10px 3px;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.amount {
  padding-top: 10px;
  font-size: 24px;
  text-align: left;
}

.indented {
	width: 70%;
}

.medium-line-below {
  border-bottom: 12px solid white;
  width: 85%;
}

.thick-line-above {
  border-top: 25px solid white;
  width: 85%;
}