html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
	color: white;
	background-color: black;
}

table {
	border-collapse: collapse;
}

td, th {
  border: 1px grey solid;
}