@import url("reset.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #45494d;
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  background: #2f2840 url("images/bg_body.gif");
  background-repeat: repeat;
}

main {
  background-color: white;
  padding-top: 120px;
}

header {
  text-align: center;
}

header h1 {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 110px;
  margin-top: 118px;
}

h2 {
  font-family: 'Avenir Heavy', sans-serif;
  font-size: 34px;
  font-weight: 600;
  padding: 0 0 30px 0;
}

h2:before,
h2:after {
  display: inline-block;
  padding: 0 24px;
  font-size: 32px;
  vertical-align: 3px;
  content: "\2022";
}

h3 {
  font-family: 'Avenir Black', sans-serif;
  font-size: 23px;
  color: #3e59b2;
  padding: 0 0 5px 0;
}

p {
  font-family: 'Avenir Medium', sans-serif;
  line-height: 1.8rem;
  padding: 0 100px;
  margin: 0 0 50px 0;
}

ul {
  display: inline-block;
  background-color: inherit;
  padding: 30px 0;
  margin: 0;
  min-width: 650px;
  max-width: 900px;
}

ul li {
  display: inline-block;
  padding: 0 60px;
}

header,
main,
footer, p {
  min-width: 650px;
  max-width: 1000px;
}

header,
main,
p {
  display: inline-block;
}

footer {
  display: block;
  color: #b2b2b2;
  text-align: center;
  background-color: #e7e7e7;
  margin: 0 auto;
  padding: 75px 0;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  padding: 0 60px;
}

footer li a {
  display: block;
  overflow: hidden;
  width: 46px;
  height: 46px;
  text-indent: -8685px;
  background:
    transparent
    url("https://d3jtzah944tvom.cloudfront.net/202/projects/lesson_7/spacedesign/images/icons_social-media.png")
    0 0 no-repeat;
}

footer li a.twitter {
  background-position: 0 0;
}

footer li a.facebook {
  background-position: 0 -46px;
}

footer li a.email {
  background-position: 0 -92px;
}

footer li a.instagram {
  background-position: 0 -138px;
}

footer p {
  color: #bcbcbc;
  width: 100px;
}

nav {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

nav li {
  padding: 0 35px;
}

nav a {
  color: #cacaca;
  text-decoration: none;
}

nav a.active {
  color: #6db9ff;
  font-weight: bold;
}

#projects figure {
   padding: 0 0 55px 0;
}

#projects figure img {
  display: block;
}